{
  "presets": [
    ["env", {
      "targets": {
        "node": 7,
        "browsers": "last 2 versions"
      }
    }],
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
